<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="social-profile">

  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
    a {
      color: inherit;
    }
  </style>

  <template>
    <paper-toolbar class="medium-tall">
      <paper-icon-button src="{{avatar}}"></paper-icon-button>
      <span class="title">{{name}}</span>
      <a href="{{mail}}"><paper-icon-button icon="mail"></paper-icon-button></a>
      <a href="{{payment}}"><paper-icon-button icon="payment"></paper-icon-button></a>

      <paper-tabs selected="{{selected}}" class="bottom self-end" style="width: 300px;">
        <paper-tab>Google</paper-tab>
        <paper-tab>Facebook</paper-tab>
        <paper-tab>LinkedIn</paper-tab>
      </paper-tabs>
    </paper-toolbar>

    <iron-pages selected="{{selected}}">
      <content select="google"></content>
      <content select="facebook"></content>
      <content select="linkedin"></content>
    </iron-pages>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'social-profile',

    properties: {
      name: String,
      avatar: String,
      mail: String,
      payment: String,
      selected: {
        type: Number,
        value: 0,
      },
    },

    // Element Lifecycle

    ready: function() {
      // `ready` is called after all elements have been configured, but
      // propagates bottom-up. This element's children are ready, but parents
      // are not.
      //
      // This is the point where you should make modifications to the DOM (when
      // necessary), or kick off any processes the element wants to perform.
    },

    attached: function() {
      // `attached` fires once the element and its parents have been inserted
      // into a document.
      //
      // This is a good place to perform any work related to your element's
      // visual state or active behavior (measuring sizes, beginning animations,
      // loading resources, etc).
    },

    detached: function() {
      // The analog to `attached`, `detached` fires when the element has been
      // removed from a document.
      //
      // Use this to clean up anything you did in `attached`.
    },

  });

</script>
